---
import {services} from '../constants/index'
---

<section class="bg-primary p-5" id="serviços">
    <div class="container mx-auto pb-16">
    <h1 class="font-bold text-light text-[1.8rem] mt-10 text-center lg:text-start">ÁREAS DE ATUAÇÃO</h1>
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-10 mt-10">
        {
            services.map((item) => (
                <div class="bg-terciary rounded-[5px] w-[280px] sm:w-[380px] h-[200px] mx-auto">
                    <div class="h-[90px] w-[90px] rounded-full border border-primary flex justify-center items-center mt-[21px] ml-[21px]">
                    <img src={item.icon} alt={item.alt} />
                </div>

                <h3 class="text-light font-bold text-[1.2rem] mt-[10px] mb-[10px] ml-[21px]">{item.title}</h3>
                <a href={item.link} class="text-light text-[1rem] ml-[21px] hover:text-primary ease-linear transition delay-50">SAIBA MAIS</a>
                </div>
            ))
        }
        </div>
    </div>
</section>